<div class="account-list">
    <mat-card>
        <br>
      <mat-card-title>
        <button mat-raised-button color="primary" class="add-account-btn" (click)="openAddDialog()">
          <mat-icon>add</mat-icon> Add Account
        </button>
      </mat-card-title>
  
      <br>
      <mat-card-content>
        <!-- Filter Input -->
        <mat-form-field appearance="outline">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Filter by RIB or Client Name">
        </mat-form-field>
  
        <!-- Material Table -->
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let account"> {{ account.id }} </td>
          </ng-container>
  
          <ng-container matColumnDef="rib">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> RIB </th>
            <td mat-cell *matCellDef="let account"> {{ account.rib }} </td>
          </ng-container>
  
          <ng-container matColumnDef="accountBalance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Balance </th>
            <td mat-cell *matCellDef="let account"> {{ account.accountBalance | currency }} </td>
          </ng-container>
  
          <ng-container matColumnDef="clientName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </th>
            <td mat-cell *matCellDef="let account"> {{ account.clientName }} </td>
          </ng-container>
  
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let account">
              <button mat-icon-button color="primary" (click)="openEditDialog(account)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="openDeleteDialog(account)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  
        <!-- Pagination -->
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>
  