<mat-toolbar color="primary">
  <span>Springboot & Angular Application</span>
  <span class="example-spacer">
    <!-- Home Button -->
    <button mat-raised-button color="accent" [routerLink]="['/']">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>

    <!-- Users Button -->
    <button mat-raised-button color="accent" [routerLink]="['/clients']">
      <mat-icon>people</mat-icon>
      <span>Users</span>
    </button>

    <!-- Accounts Button -->
    <button mat-raised-button color="accent" [routerLink]="['/accounts']">
      <mat-icon>account_circle</mat-icon>
      <span>Accounts</span>
    </button>

    <!-- Stats Button -->
    <button mat-raised-button color="accent" [routerLink]="['/stats']">
      <mat-icon>insert_chart</mat-icon>
      <span>Stats</span>
    </button>
    <button mat-raised-button color="accent" [routerLink]="['/NotFound']">
      <mat-icon>not_interested</mat-icon>
      <span>404</span>
    </button>
  </span>
</mat-toolbar>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#ffc107" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<router-outlet></router-outlet>

<div class="page-container">
  <div class="content">
    <!-- Your main page content goes here -->
  </div>
  
  <footer class="footer">
    <i class="fa fa-facebook-official w3-hover-opacity"></i> &nbsp;
    <i class="fa fa-instagram w3-hover-opacity"></i>&nbsp;
    <i class="fa fa-snapchat w3-hover-opacity"></i>&nbsp;
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p class="w3-medium">Powered by 
      <a href="" target="_blank">Derbali Khaireddine 2024</a>
    </p>
  </footer>
</div>
