<mat-toolbar color="primary">
  <span>CLient Management</span>
  <span class="example-spacer">
    <!-- Home Icon -->
    <a mat-icon-button [routerLink]="['/']">
      <mat-icon>home</mat-icon>
    </a>

    <!-- Users Icon -->
    <a mat-icon-button [routerLink]="['/clients']">
      <mat-icon>people</mat-icon>
    </a>

    <!-- Accounts Icon -->
    <a mat-icon-button [routerLink]="['/accounts']">
      <mat-icon>account_circle</mat-icon>
    </a>
  </span>
</mat-toolbar>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#ffc107" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<router-outlet></router-outlet>

<div class="page-container">
  <div class="content">
    <!-- Your main page content goes here -->
  </div>
  
  <footer class="footer">
    <i class="fa fa-facebook-official w3-hover-opacity"></i> &nbsp;
    <i class="fa fa-instagram w3-hover-opacity"></i>&nbsp;
    <i class="fa fa-snapchat w3-hover-opacity"></i>&nbsp;
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p class="w3-medium">Powered by 
      <a href="" target="_blank">Mahdy chaari</a>
    </p>
  </footer>
</div>
