<h2 mat-dialog-title>{{ data?.id ? 'Edit Client' : 'Add Client' }}</h2>

<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.nom" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Last Name</mat-label>
    <input matInput [(ngModel)]="data.prenom" required />
  </mat-form-field>

  <div *ngIf="data.accounts?.length">
    <h4>Accounts</h4>
    <ul>
      <li *ngFor="let account of data.accounts">
        {{ account.rib }} - {{ account.accountBalance | currency }}
      </li>
    </ul>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>
